* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body-style {
  font-family: 'Comfortaa', cursive;
  background-color: #c7f79b;
  background-image: url(../public/img/fondo4.png);
  background-repeat: no-repeat;
  background-size: cover; }

h2 {
  color: #a70000;
  font: 46pt/50pt;
  font-weight: 800;
  font-stretch: normal;
  padding: 15px;
  text-align: center; }

.texto__descriptivo {
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 40px;
  color: #101807; }

.cajas {
  margin-top: 60px; }

img {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  max-width: 500px; }

/*.texto__descriptivo p {
    margin-bottom: 1.5rem;
}
*/
.service {
  grid-area: main;
  padding: 10px; }

.abonos {
  padding: 10px; }

/*=======================Animacion en tabla pagina abono.html=====================*/
.texto-tabla {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  color: cyan;
  padding: 20px;
  background-color: green;
  border-spacing: 5px;
  border-color: black;
  margin-top: 1.5rem;
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

form {
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem; }

.derechos {
  display: inline-block; }

/*================hover en "todos los derechos reservados" de todas las paginas.html================*/
.derechos:hover {
  transform: rotate(360deg);
  transition: 3s; }

.texto-tabla-cuentas {
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px 20px;
  border: 1px solid #000; }

/*.texto-mapa { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
*/
.navbar {
  background-image: linear-gradient(to top, #beb2da 0%, #fbc2eb 100%);
  top: 0px;
  margin-bottom: 60px; }

.redes {
  background-color: #beb2da;
  padding: 20px;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-evenly;
  object-fit: contain; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 0.8em; }

h5 {
  font-size: 0.4em; }

.cajas {
  margin-top: 60px; }

.caja-1 {
  background-color: #da0c0c;
  width: 160px;
  height: 190px;
  margin: 20px;
  padding: 20px; }

.caja-2 {
  background-color: green;
  width: 80px;
  height: 150px;
  margin: 20px;
  padding: 20px; }

.caja-3 {
  background-color: grey;
  width: 100px;
  height: 280px;
  margin: 20px;
  padding: 20px; }

.caja-4 {
  background-color: magenta;
  width: 600px;
  height: 150px; }

.accordion-item {
  background-color: #beb2da; }

.mapa-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.mapa-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (max-width: 512px) {
  .texto-tabla-cuentas {
    margin: auto;
    border-collapse: separate;
    border-spacing: 2px 2px;
    border: 1px solid #000;
    font-size: 0.8em; } }
