$main-color:rgb(244, 247, 241);

.body-style   {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}  
h1 { 
    color:#beb2da;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

h2{
    color: rgb(188, 235, 161);
    font: 46pt/50pt;
    font-weight: 800;
    font-stretch: normal;
    padding: 15px;
    text-align:center;
}
.texto__descriptivo     {
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    color: $main-color;
} 

