*{
    margin:0;
    padding:0;
}
//---------------import----------------//
 
@import "body";

img     {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
    max-width:500px;
}  
.service {
    grid-area: main;
}    
.abonos { 
    padding: 10px;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}
form { 
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    padding: 0rem;
}
.derechos { 
    color:antiquewhite;
    display:inline-block;
    padding: 10px;
}
.texto-tabla-cuentas { 
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px 20px;
    border: 1px solid #000;
}
.navbar-brand { 
    font-size: 1.6rem !important;
}
.navbar {
    background-image: linear-gradient(to top, #beb2da 0%, #f0b9e0 100%);
    top: 0px;
    font-size: 1.5rem !important;
}

.redes { 
    background-color: #beb2da;
    padding: 20px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
    object-fit: contain;
}
.img-redes { 
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.accordion-item { 
    background-color: #beb2da;
}

.mapa-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.mapa-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.contacto-bloque { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
}
.p-contacto { 
    display:flex;
    justify-content: center;
}
@media (max-width: 512px) {
    .texto-tabla-cuentas {
      margin: auto;
      border-collapse: separate;
      border-spacing: 2px 2px;
      border: 1px solid #000; 
      font-size: 0.8em;}
    .contacto-bloque { 
          padding-left: 5vw;
          padding-right: 5vw;
      }
    .img-redes { 
        flex-direction: column;
    }
    }

