*{
    margin:0;
    padding:0;
   /* box-sizing: border-box;*/
}
//---------------import----------------//
 
@import "body";

img     {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
    max-width:500px;
}  
.service {
    grid-area: main;
    padding:10px;
}    
.abonos { 
    padding: 10px;
}

/*=======================Animacion en tabla pagina abono.html=====================*/
.texto-tabla { 
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    font-size: 1.3rem;
    color: cyan;
    padding: 20px;
    background-color:green; 
    border-spacing: 5px;
    border-color: black;
    margin-top: 1.5rem;
    animation-duration:2s;
    animation-name: blink;
    animation-iteration-count: infinite; 
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}
form { 
    display: inline-block;
    margin-top: 2rem;
    padding: 2rem;
}
.derechos { 
    display:inline-block;
}
/*================hover en "todos los derechos reservados" de todas las paginas.html================*/
.derechos:hover { 
    transform: rotate(360deg);
    transition: 3s;
}
.texto-tabla-cuentas { 
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px 20px;
    border: 1px solid #000;
}
.navbar-brand { 
    font-size: 1.6rem !important;
}
.navbar {
    background-image: linear-gradient(to top, #beb2da 0%, #f0b9e0 100%);
    top: 0px;
    margin-bottom:60px ;
    font-size: 1.5rem !important;
}

.redes { 
    background-color: #beb2da;
    padding: 20px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
    object-fit: contain;
}
// prueba de bucle CON OPERACION//
@for $nro from 1 to 6 {
    h#{$nro} { 
        font-size: (6em-$nro)* 0.4
    }
}
//-----------Mixins en pagina Proyecto.html--------//
@mixin caja ($fondo, $ancho, $alto) {
    background-color: $fondo;
    width: $ancho;
    height: $alto;
    margin: 20px;
    padding: 20px;
}

.cajas { 
     margin-top: 60px;
}
.caja-1 {
    @include caja(#da0c0c,160px,190px);

}
.caja-2 {
    @include caja(green,80px,150px)
}
.caja-3 { 
    @include caja(grey,100px,280px);
}
//-------------otra Operacion--------------//
$anchura:300px;
$altura:300px;
.caja-4 { 
    background-color: magenta;
    width: $anchura*2;
    height: $altura/2;
}
.accordion-item { 
    background-color: #beb2da;
}
.row > * { 
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.mapa-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.mapa-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: 512px) {
    .texto-tabla-cuentas {
      margin: auto;
      border-collapse: separate;
      border-spacing: 2px 2px;
      border: 1px solid #000; 
      font-size: 0.8em;}
    }
